@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

/******************************* NAVBAR *******************************/
.logo {
  width: 12.75rem;
  height: 11rem;
}

/******************************* NAVBAR LINKS *******************************/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: whitesmoke !important;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 12.75rem;
  padding: 0 !important;
  height: 11rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid crimson;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid crimson;
}